<?xml version="1.0" encoding="utf-8"?>
<configuration>
<config>    
    <add key="globalPackagesFolder" value="packages" />    
</config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <packageSources>        
    <add key="DISCO Feed" value="https://hm.myget.org/F/disco-nuget/auth/734d44b0-4b73-4c89-91c9-f18ff76a3795/api/v3/index.json" />    
	<add key="Infra feed" value="https://hm.myget.org/F/disco-infra-nservicebus/auth/e61c5b4d-d6f8-460d-a73c-bace0d2f350b/api/v3/index.json" />
	<add key="ProductDevelopment Feed" value="https://hm.myget.org/F/disco-productdevelopment/auth/a04c19a7-1d40-4345-b4b4-5fc94312e8bf/api/v3/index.json" />  
  </packageSources>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="nservicebus" value="true" />
  </disabledPackageSources>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="True" />
  </packageManagement>
</configuration>